name: Flat

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: '0 0 * * *'

jobs:
  scheduled:
    runs-on: ubuntu-latest
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: vx.x.x

      - name: Check out repo
        uses: actions/checkout@v2

      - name: Fetch data
        uses: githubocto/flat@v3
        with:
          http_url: https://transpordiamet.ee/soiduk-laev-lennuk/lennundustehnika/ohusoidukite-register
          downloaded_filename: data.html
  
  parse:
    runs-on: ubuntu-latest
    needs: scheduled
    steps:
      - name: Setup deno
        uses: denoland/setup-deno@main
        with:
          deno-version: vx.x.x

      - name: Check out repo
        uses: actions/checkout@v2

      - name: Process
        run: deno run --config ./tsconfig.json --allow-read --allow-write ./parse.ts

      - name: Commit & Push
        uses: actions-js/push@master
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          branch: main
          force: true